In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
csv = pd.read_csv('mower_market_snapshot.csv',delimiter=";")

In [4]:
csv.head()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614

In [5]:
csv["prod_cost"]

0       195.03551928211797
1       151.31809934886763
2       178.13731921134948
3       162.82946157588628
4       141.48693796090603
               ...
1394    11.498540481074583
1395    11.380588736668567
1396               unknown
1397     9.794196773761458
1398    10.696216086742934
Name: prod_cost, Length: 1399, dtype: object

In [6]:
csv[csv["prod_cost"].isin(["unknown"])]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
100,28.029561,0.040033,18993,746.108663,350.216029,unknown,auto-portee,Hight,3anss,0.007847,0.802719
154,26.317938,0.098641,19642,272.038610,865.688164,unknown,electrique,Low,2_ans.,0.001632,0.425166
166,39.703060,0.073723,18870,248.010000,70.271198,unknown,electrique,Low,2 ans,0.002607,0.679325
479,36.259976,0.105738,18620,288.507312,74.897367,unknown,electrique,Low,2 ans.,0.001733,0.451514
532,40.218428,0.091096,18555,259.753146,848.659019,unknown,electrique,Low,2_ans.,0.002731,0.711726
569,44.771225,0.241101,18411,60.565166,367.821566,unknown,essence,Low,1an,0.001190,0.627962
923,67.500998,0.196182,19191,63.859993,885.550319,unknown,essence,Low,1 an.,0.001234,0.651009
981,64.607864,0.247584,18387,59.588596,878.615866,unknown,essence,Medium,1an.,0.001736,0.915787
983,52.234773,0.253485,18503,68.359089,392.653716,unknown,essence,Hight,1ans,0.000989,0.521938
1091,43.616434,0.202734,18651,60.221030,895.108605,unknown,essence,Low,1_an,0.001103,0.581745
1223,46.611471,0.239549,19160,59.147640,876.032341,unknown,essence,Low,1an.,0.001378,0.726867
1357,57.936910,0.232674,18329,59.878009,381.677052,unknown,essence,Low,1_ans,0.001188,0.626693
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622

In [12]:
csv.isnull().sum()

capacity           0
failure_rate       0
id                 0
margin             0
price              0
prod_cost         18
product_type       0
quality            0
warranty           0
market_share       0
attractiveness     0
dtype: int64

In [32]:
csv.groupby(["warranty", "quality"]).first()

                   capacity  failure_rate     id      margin       price  \
warranty quality
1        Hight    69.184953      0.188034  18670   64.417542   76.273928
         Low      54.677781      0.207076  18365   63.228422   74.244983
         Medium   67.502725      0.214099  19615   62.182262   74.158501
2        Hight     0.042489      0.094642  19550  252.743747  360.914396
         Low      31.897593      0.092226  19620  263.227921  366.225489
         Medium   42.837791      0.113099  19246  283.285059  384.224682
3        Hight    12.242635      0.035492  18448  757.351286  930.615022
         Low      10.492623      0.042528  18377  633.766584  828.802103
         Medium   16.370911      0.037938  18722  703.094527  844.581465

                           prod_cost  product_type  market_share  \
warranty quality
1        Hight    11.856385675229458             1      0.001452
         Low      11.016560704849326             1      0.001297
         Medium   11.976239018890924             1      0.001328
2        Hight    108.17064902568966             2      0.003298
         Low      102.99756784515532             2      0.002938
         Medium   100.93962262740233             2      0.002858
3        Hight    173.26373572791334             3      0.007488
         Low      195.03551928211797             3      0.006360
         Medium   141.48693796090603             3      0.007406

                  attractiveness
warranty quality
1        Hight          0.765866
         Low            0.684393
         Medium         0.700719
2        Hight          0.859263
         Low            0.765499
         Medium         0.744665
3        Hight          0.766056
         Low            0.650648
         Medium         0.757614

In [9]:
csv["warranty"] = csv["warranty"].apply(lambda x: x[0])

In [10]:
csv.groupby(["warranty"]).first()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,market_share,attractiveness
warranty,,,,,,,,,,
1,67.502725,0.214099,19615,62.182262,74.158501,11.976239018890924,essence,Medium,0.001328,0.700719
2,31.897593,0.092226,19620,263.227921,366.225489,102.99756784515532,electrique,Low,0.002938,0.765499
3,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,0.006360,0.650648

In [34]:
csv.groupby(pd.cut(csv["price"], [0, 300,500,float("inf")])).mean().loc[:,["capacity", "failure_rate", "margin","market_share", "attractiveness"]]

,capacity,failure_rate,margin,market_share,attractiveness
price,,,,,
"(0.0, 300.0]",56.933206,0.220407,67.479837,0.001225,0.626233
"(300.0, 500.0]",38.632563,0.100551,263.736848,0.002431,0.632159
"(500.0, inf]",25.351682,0.069466,566.520813,0.005862,0.696661

In [23]:
csv["product_type"] = csv["product_type"].apply(lambda x: 1 if x=="essence" else 2 if x=="electrique" else 3)

In [25]:
csv.groupby(["product_type"]).first()

,capacity,failure_rate,id,margin,price,prod_cost,quality,warranty,market_share,attractiveness
product_type,,,,,,,,,,
1,67.502725,0.214099,19615,62.182262,74.158501,11.976239018890924,Medium,1,0.001328,0.700719
2,31.897593,0.092226,19620,263.227921,366.225489,102.99756784515532,Low,2,0.002938,0.765499
3,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,Low,3,0.006360,0.650648

In [30]:
csv = csv.assign(Essence=csv["product_type"].apply(lambda x: 1 if x==1else 0), Electrique=csv["product_type"].apply(lambda x: 1 if x==2 else 0), Auto_portee=csv["product_type"].apply(lambda x: 1 if x==3 else 0))
csv.groupby(["product_type"]).first()

,capacity,failure_rate,id,margin,price,prod_cost,quality,warranty,market_share,attractiveness,Essence,Electrique,Auto_portee
product_type,,,,,,,,,,,,,
1,67.502725,0.214099,19615,62.182262,74.158501,11.976239018890924,Medium,1,0.001328,0.700719,1,0,0
2,31.897593,0.092226,19620,263.227921,366.225489,102.99756784515532,Low,2,0.002938,0.765499,0,1,0
3,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,Low,3,0.006360,0.650648,0,0,1